@model IEnumerable<Employees.Models.Employer>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<table class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            First_name
        </th>
        <th>
            Last_name
        </th>
        <th>
            Date_of_Birth
        </th>
        <th>
            Start_Work_Date
        </th>
        <th>
            Salary
        </th>
        <th>
            Pvd_fund_rate
        </th>
        <th>
            Total fund
        </th>

    </tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.First_name
            </td>
            <td>
                @item.Last_name
            </td>
            <td>
                @item.Date_of_Birth
            </td>
            <td>
                @item.Start_Work_Date
            </td>
            <td>
                @item.Salary
            </td>
            <td>
                @item.Pvd_fund_rate
            </td>
            <td>
                @item.Total_fund
            </td>
        </tr>
            }
        }

    </tbody>
</table>